<%- include ('./partials/header.ejs') %><br>
<%- include ('./partials/navbar.ejs') %><br>
    <h1>COUNTRIES LIST</h1>
    <table border="1">

    <a href="/countries/add">ADD COUNTRY</a>
    <br>
    <br>
        <thead>
            <tr>
                <th>#</th>
                <th>Country</th>
                <th>Capital</th>
                <th>Language</th>
                <th>Currency</th>
                <th>Travellers</th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% data.forEach(e => { %>
                    <tr>
                        <td><%= e.id %></td>
                        <td><%= e.name %></td>
                        <td><%= e.capital %></td>
                        <td><%= e.language %></td>
                        <td><%= e.currency %></td>
                        <td><a href="/countries/<%=e.id%>/travellers/">See</a></td>
                        <td>
                            <a href="/countries/edit/<%=e.id%>">edit</a>
                            <a href="/countries/delete/<%=e.id%>">delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tr>
        </tbody>
    </table>
    <%- include ('./partials/footer.ejs') %><br>