<%- include ('./partials/header.ejs') %><br>
<%- include ('./partials/navbar.ejs') %><br>

<h2>Edit Traveller</h2>

<form action="/travellers/edit/<%= data.id%>" method="post">
    <label for="first_name">First Name</label><br>
    <input type="text" name= "first_name" value = "<%= data.first_name %>"><br><br>

    <label for="last_name">Last Name</label><br>
    <input type="text" name= "last_name" value = "<%= data.last_name %>"><br><br>

    <label for="asal">Origins</label><br>
    <input type="text" name= "asal" value = "<%= data.asal %>"><br><br>

    <label for="gender">Gender</label><br>
    <select name="gender" id="gender">
        <option value="">---Select Gender---</option>
        <option value="male"<%= data.gender === 'male' ? 'selected' : '' %> >Male</option>
        <option value="female" <%= data.gender === 'female' ? 'selected' : '' %> >Female</option>

    </select><br><br>

    <button type="submit">Submit</button>



</form>

<%- include ('./partials/footer.ejs') %><br>